#!/bin/bash

# dns refresh
alias dns-refresh='sudo killall -HUP mDNSResponder'

# Get week number
alias week='date +%V'

# Open with geany
alias geany='open -a /Applications/Geany.app'

# Open Xamarin from terminal
alias xamarin='open -a /Applications/Xamarin\ Studio.app'

# Open Visual Studio from terminal
alias vsmac='open -a /Applications/Visual\ Studio.app'

# colored cat
alias ccat='pygmentize -O style=monokai -f console256 -g'

# youtube-dl with aria
alias youtube-aria2c='youtube-dl --external-downloader aria2c --external-downloader-args "-x16"'

# Start tomcat
alias tomcat-start='sh /usr/local/Cellar/tomcat\@6/6.0.45/bin/startup.sh'

# Stop tomcat
alias tomcat-stop='sh /usr/local/Cellar/tomcat\@6/6.0.45/bin/shutdown.sh'

# brew update + upgrade + cleanup
alias brew-up='brew update && brew update && brew upgrade && brew prune && brew cleanup -s -v && brew doctor && trash `brew --cache`'

# brew bundle global
alias brew-bundle='brew bundle --global --verbose'

# run ffserver
alias ffserver-run='ffserver -f /usr/local/etc/ffserver.conf'

# list codesigning
alias ls-codesigning='security find-identity -v -p codesigning'

# vim alias from mvim
alias vim='mvim -v'

# sourcetree alias
alias stree='/Applications/SourceTree.app/Contents/Resources/stree'

# codesign alias
alias codesign-check='codesign -dv --verbose=4'

# disable bonjour
alias bonjour-disable='sudo defaults write /Library/Preferences/com.apple.mDNSResponder.plist NoMulticastAdvertisements -bool YES'

# disable crash reporter
alias crash-reporter-disable='defaults write com.apple.CrashReporter DialogType none'

# disable icloud document save
alias icloud-disable='defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false'

# show all extensions
alias show-extensions='defaults write NSGlobalDomain AppleShowAllExtensions -bool true'

alias chrome-chat='open -nF /Applications/Google\ Chrome.app --args --user-data-dir="$HOME/.chrome-chat"'

alias chrome-finance='open -nF /Applications/Google\ Chrome.app --args --user-data-dir="$HOME/.chrome-finance"'

# alias chrome-social='open -nF /Applications/Google\ Chrome.app --args --user-data-dir="$HOME/.chrome-social"'

alias appcleaner='open -a /Applications/AppCleaner.app/'

alias python='/usr/local/bin/python3'

alias pip='/usr/local/bin/pip3'

alias rsync-dry-run='rsync -avh --dry-run'

