#!/bin/bash

#dns refresh
alias dns-refresh='killall -HUP mDNSResponder'

# Get week number
alias week='date +%V'

# Open with geany
alias geany='open -a /Applications/Geany.app'

# Open Xamarin from terminal
alias xamarin='open -a /Applications/Xamarin\ Studio.app'

# Open Visual Studio from terminal
alias vsmac='open -a /Applications/Visual\ Studio.app'

#colored cat
alias ccat='pygmentize -O style=monokai -f console256 -g'
