#!/bin/bash

# dns refresh
alias dns-refresh='sudo killall -HUP mDNSResponder'

# Get week number
alias week='date +%V'

# Open with geany
alias geany='open -a /Applications/Geany.app'

# Open Xamarin from terminal
alias xamarin='open -a /Applications/Xamarin\ Studio.app'

# Open Visual Studio from terminal
alias vsmac='open -a /Applications/Visual\ Studio.app'

# colored cat
alias ccat='pygmentize -O style=monokai -f console256 -g'

# youtube-dl with aria
alias youtube-aria2c='youtube-dl --external-downloader aria2c --external-downloader-args "-x16"'

# Start tomcat
alias tomcat-start='sh /usr/local/Cellar/tomcat\@6/6.0.45/bin/startup.sh'

# Stop tomcat
alias tomcat-stop='sh /usr/local/Cellar/tomcat\@6/6.0.45/bin/shutdown.sh'

# brew update + upgrade + cleanup
alias brew-check='brew update && brew update && brew upgrade && brew cleanup -s -v && brew doctor && trash `brew --cache`'

# run ffserver
alias ffserver-run='ffserver -f /usr/local/etc/ffserver.conf'

# list codesigning
alias ls-codesigning='security find-identity -v -p codesigning'

# vim alias from mvim
alias vim='mvim -v'

# sourcetree alias
alias stree='/Applications/SourceTree.app/Contents/Resources/stree'

